# Site
repository: shurshun/cv
favicon: images/favicon.ico

# Content configuration version
version: 2

# Personal info
name: &name Korviakov Andrey
title: Senior DevOps Engineer
email: korvyakov.a.m@gmail.com

# Dark Mode (true/false/never)
darkmode: never

# Social links
github_username:  shurshun
instagram_username: andrey_shursh
linkedin_username: korviakov-andrey


additional_links:
  - title: Telegram link
    icon: fab fa-telegram
    url: https://t.me/shursh

# Google Analytics and Tag Manager
# Using more than one of these may cause issues with reporting
gtm: "GTM-NQDXS9D"

# About Section
about_title: Summary
about_profile_image: images/profile.jpg
about_content: |
  Around 16+ years of experience in IT industry with strong *nix background and an every day learning habit.
  Extensive experience in designing architecture and building infrastructure for numerous projects.
  If I think the provided task is not optimal and can be done better, I'll definitely say so and will offer my own implementation.
  Stirring, independence, with the ability to predict despite the prohibition to use magic outside Hogwarts ;)

content:
  - title: Experience
    layout: list
    content:
      # - layout: left
      #   title: Coins.ph
      #   link: https://coins.ph
      #   link_text: coins.ph
      #   sub_title: Senior DevOps Engineer
      #   caption: 2021 - Present
      #   quote: >
      #     Coins.ph is on a mission to create an open financial system by providing everyone easy access to Web3 and digital assets.
      #   description: |
      #     * Develop and maintain cloud infrastructures to meet reliability and scalability demands

      - layout: left
        title: Raison
        link: https://raison.ai
        link_text: raison.ai
        sub_title: Senior DevOps Engineer
        caption: 2018 - Present
        quote: >
          A unique platform for operations with investments and personal finance, using algorithms of artificial intelligence.
        description: |
          * Developed architecture, designed and implemented infrastructure, as well as supporting of the project
          * Created zero trust encrypted mesh network over multiple clusters
          * Proposed and implemented remote distributed storage for sensitive data
          * Developed proactive load balancer for remote distributed storages (OpenResty, Lua)
          * Created modern CI/CD for more 20+ microservices (Golang, Python, NodeJS, PHP: Laravel, Symfony)
          * Modeled the structure for Multi-tiered applications, orchestrated the processes to deploy each tier
          * Integrated logs collection and its storing in S3 and Loki for quick access as well
          * Built a fault-tolerant and scalable monitoring system based on VictoriaMetrics cluster
          * Implemented DevSecOps practices and tools: Vault, Security scanning, Image signing, Network policies, etc.
          * Configured and covered Blockchain nodes with monitoring (Ethereum, Bitcoin, Celo)

      - layout: left
        title: Adsteroid
        link: https://adsteroid.pro
        link_text: adsteroid.pro
        sub_title: Senior DevOps Engineer
        caption: 2018 - Present
        quote: >
          An internet media company serving over 1 billion geo-targeted ad impressions per month.
        description: |
          * Developed architecture, designed and implemented infrastructure, as well as support of the project (~30k rps)
          * Took the project through several technological steps: Chef + Capistrano + Consul, docker-compose + Bamboo + Consul, Kubernetes + Gitlab CI/CD
          * Deployed Clickhouse cluster to Kubernetes with replication, sharding, monitoring and backups with my own Helm chart (~11Tb)
          * Deployed Tarantool vshard cluster to Kubernetes with a Helm chart written by me (~30k rps)
          * Designed CI/CD pipelines from scratch for a bunch of microservices (Golang, NodeJS, PHP: Laravel, Symfony)
          * Developed and implemented smart distributed rate limiter for NGINX Ingress controller which gives the ability to divide precisely the global RPS limit per sub-stream and to change ratios according to conditions updated every minute (Lua)
          * Experienced in analyzing and resolving compilation and deployment errors related to code development, branching, merging and building of source code
          * End-to-end integration of Vault across all services for sensitive data storage
          * Implemented CentOS installation using kick start and further hardening via Ansible
          * Deployed and managing Kubernetes cluster on more than 30 bare-metal servers

      - layout: left
        title: Netbox.Global
        link: https://netbox.global
        link_text: netbox.global
        sub_title: Senior DevOps Engineer
        caption: 2020 - 2021
        quote: >
          The first decentralized blockchain backed web browser.
        description: |
          * Deployed a cluster of Blockchain nodes for the project (NBX Coin)
          * Migrated services to modern and fault-tolerant hybrid infrastructure using IaC (Terraform, Terragrunt, Terratest, Packer)
          * Created convenient CI/CD for a bunch of diverse microservices
          * Integrated logs collection and its storing in S3 and Loki for quick access as well
          * Built a fault-tolerant and scalable monitoring system based on VictoriaMetrics cluster
          * Implemented DevSecOps practices and tools: Vault, Security scanning, Network policies, etc.
          * Developed CI/CD for LinuxKit to deploy microservices as immutable VM's into Hetzner Cloud, AWS & Vultr

      - layout: left
        title: NetBox
        link: https://netbox.ru
        link_text: netbox.ru
        sub_title: Senior DevOps Engineer
        caption: 2013 - 2021
        quote: >
          Research. Innovation. Development.
        description: |
          * Installed and configured self-hosted Atlassian Stack: Jira, Confluence, BitBucket, Bamboo, Crowd. With further migration to Jira, Confluence, Keycloak and Gitlab with SSO
          * Designed and build project for a diskless mining farm from scratch (160+ rigs):
            * Implemented network booting for rigs with only two masters
            * Built the ability of quick switching between versions of OS and Drivers for graphic cards
            * Designed and developed backend for rig registration and configuring (Tarantool, Lua)
            * Developed metrics exporter for graphic cards to work with Prometheus (Golang)
            * Designed and developed KVM device in purpose of remote control motherboards ([my own design](https://raw.githubusercontent.com/shurshun/cv/main/images/kvm.jpg))
            * Developed KVM status broker from MQTT to Tarantool made into the form of in-app (Lua)
            * Developed KVM control service with REST API and MQTT support (Golang)
            * Upgraded KVM control system by built POC based on ESP8266: OTA, resistance to power failure, work in pairs of five devices with five independed lines. Significantly reduced KVM polling time from 450ms to 9,5ms
            * Configured automatic redundancy with fail-over using 3 independent internet channels (Mikrotik)
          * Developed an application that monitors Ingress resources in a Kubernetes cluster, aggregates information about all domains, and provides metrics with their expiry information to Prometheus: [domain-harvester](https://www.reddit.com/r/kubernetes/comments/h9dyqj/now_you_wont_miss_the_moment_the_domain_expires/) (Golang)
          * Designed and configured CDN using low cost servers which is able to maintain up to 5Gbps bandwidth
          * Developed an app for Android TV stick which shows the necessary graphs and is controlled through the API (Java)
          * Designed and developed DNS cluster based on PowerDNS (Lua, Redis as a backend) which served more than 2к rps/instance
          * Developed API service for event processing from Jira, Bitbucket, Webhooks with extraction of necessary information and sending formatted notifications (PHP, Jira, Bitbucket)
          * Developed Capistrano module to provide information about release to Graphite (Ruby)
          * Developed distributed endpoint for an app metrics based on queues (OpenResty, Lua)
          * Developed metrics broker from queue to MongoDB (Golang) [metrics-bridge](https://github.com/shurshun/metrics-bridge-example)
          * Written Chef recipes for a plenty of services with automatic components monitoring when adding a project role to an instance

      - layout: left
        title: Poisk-podbor
        link: https://poisk-podbor.ru
        link_text: poisk-podbor.ru
        sub_title: System Administrator
        caption: 2010 - 2013
        quote: >
          A place where sellers show the products they offer and customers find what they are looking for.
        description: |
          * Directly involved in choosing, ordering and configuring servers, network equipment, IBM System Storages
          * Created geo-aware Proxmox clusters (15+ bare-metal servers)
          * Developed automation for bootstrapping new instances from OpenVZ template in 1-click: Chef, Deploy code, autosetup MySQL as RO replica, run web server, make tests and register it with a LB
          * Configuration and troubleshooting Bonding/ACL/VLAN/NAT/MultiWAN on Cisco devices
          * Build automation tools to deploy underlying project infrastructure from source code to obtain the best performance settings: Apache + mod_perl, Nginx, MySQL
          * Setup HA Load Balancers with caching on bare-metal servers (CARP/VRRP, Nginx)
          * Troubleshooting office IT infrastructure issues
          * Configuration and support of analog and digital PBX for the office (HW, Asterisk)
          * Migrated all services from FreeBSD to Linux (CentOS) servers
          * Implemented monitoring system with autodiscovery (Munin)
          * One of the locations is still in operation to the present day without disruptions!

      - layout: left
        title: Mr. Doors
        link: https://www.mrdoors.ru/
        link_text: mrdoors.ru
        sub_title: Junior System Administrator
        caption: 2007 - 2010
        quote: >
          Custom-made furniture by Mr.Doors is a unique interior solutions for home and office.
        description: |
          * Consultation and technical support for customers
          * Troubleshooting and solving computer hardware and software problems

      - layout: left
        title: Corbina Telecom
        link: http://corbina-telecom.ru/
        link_text: corbina-telecom.ru
        sub_title: Technical Support Specialist
        caption: 2006 - 2007
        quote: >
          Provide Internet broadband access services.
        description: |
          * Consultation and technical support for customers

      - layout: left
        title: Own network / Trancom
        link: http://www.trancom.ru/
        link_text: trancom.ru
        sub_title: Junior System Administrator
        caption: 2004 - 2006
        quote: >
          Provide Internet broadband access services.
        description: |
          * Consultation and technical support for customers
          * Local network cabling from scratch and troubleshooting
          * Selected, purchased and set up asymmetric Internet access over satellite
          * Configured and maintained FreeBSD servers which were built for entertainment purposes (FTP, IRC, forums) and the Internet gateway as well

  - title: Certificates
    layout: text
    content: |
      * **AWS Certified Solutions Architect – Associate**: [verify](https://www.credly.com/badges/4ad1252b-8f28-4e1f-b473-6cc9f7346eeb)
      * **GitLab Certified - Associate**: [verify](https://badgr.com/public/assertions/jvREgGi8T3uOQ7KOzGWjrQ)

  # - title: Certificates
  #   layout: text
  #   content: |
  #     <ul class="icons" style="text-align: center;">
  #       <li class="col-md-12">
  #         <a target="_blank" href="https://www.credly.com/badges/4ad1252b-8f28-4e1f-b473-6cc9f7346eeb" class="button button--sacnite button--round-l">
  #           <i class="fab fa-aws" title="AWS Certified Solutions Architect – Associate"></i>
  #         </a>
  #         <p style="text-align: center;"><b>AWS Certified Solutions Architect – Associate</b></p>
  #       </li>
  #       <li class="col-md-12">
  #         <a target="_blank" href="https://badgr.com/public/assertions/jvREgGi8T3uOQ7KOzGWjrQ" class="button button--sacnite button--round-l">
  #           <i class="fab fa-gitlab" title="Gitlab Certified Associate"></i>
  #         </a>
  #         <p style="text-align: center;"><b>GitLab Certified Associate</b></p>
  #       </li>
  #       <li class="col-md-12">
  #         <a target="_blank" href="#" class="button button--sacnite button--round-l">
  #           <i class="fas fa-dharmachakra" title="Certified Kubernetes Security Specialist"></i>
  #         </a><p style="text-align: center;"><b>Certified Kubernetes Security Specialist</b>: pending...</p>
  #       </li>
  #     </ul>


  - title: Languages
    layout: text
    content: |
      **English**: Upper-Intermediate. I take private classes, constantly honing my language skills

      **Russian**: Native

  - title: Technical skills
    layout: text
    content: |
      **Programming Languages**: Golang, Lua, Python, Ruby, PHP

      **AWS**: EKS, EC2, ELB, RDS, S3, SQS, Lamda, SSO, IRSA, [etc.](https://www.credly.com/badges/4ad1252b-8f28-4e1f-b473-6cc9f7346eeb)

      **Databases**: PostgreSQL, MySQL, ClickHouse, Tarantool, Redis, MongoDB

      **IaC**: Terraform, Terragrunt, Packer, Ansible, Chef

      **Repository managers**: Nexus, Artifactory

      **Containers**: Docker, Kubernetes (Self-hosted, EKS, DO Kubernetes)

      **Monitoring**: Pagerduty, VictoriaMetrics (clustered), Prometheus, Grafana, Sentry, Graphite

      **Logging**: Loki/Promtail, EFK stack, Banzai Cloud Logging operator

      **Atlassian stack**: Jira, Confluence, Bitbucket, Crowd

      **CI/CD**: GitLab, GitHub Actions, Bamboo

      **OS**: Ubuntu, CentOS, CoreOS, LinuxKit, FreeBSD

      **Queues**: RabbitMQ, Kafka

      **Security**: Vault (KV, DB creds., PKI Auth. using Kubernetes, OpenID, JWT), Keycloak, Trivy, OPA, Network Policy

      **Networking**: OpenVPN (cloud & hosted), WireGuard, Calico, Cilium, Cisco, Mikrotik, UniFi

      **Cloud Providers**: AWS, Hetzner, Hetzner Cloud, DigitalOcean, Vultr, Online.net, Selectel, etc.

      **CDN & DDoS Protection**: Cloudflare, Cloudfront, Qrator

      **Blockchain**: Ethereum (OpenEthereum), Bitcoin, Celo, Netbox.Coin

      **Virtualization**: VirtualBox, Proxmox

      **Web Servers**: Openresty (nginx), Apache

# Footer
footer_show_references: false

# Build settings
remote_theme: sproogen/modern-resume-theme

sass:
  sass_dir: _sass
  style: compressed

plugins:
 - jekyll-seo-tag

author:
  name: *name
  url: https://www.linkedin.com/in/korviakov-andrey/

exclude:
  - Gemfile
  - Gemfile.lock
  - Makefile
  - LICENSE
